$blueberry: rgba(67, 146, 241, 1);
$glitter: rgba(236, 232, 239, 1);
$russian_violet: rgba(47, 24, 71, 1);
$topaz: rgba(255, 210, 117, 1);
$vermilion: rgba(220, 73, 58, 1);

body {
  font-family: 'Assistant', sans-serif;
  line-height: 1.4;
}

li {
	padding-bottom: 9px;
}

a {
  color: $blueberry;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
	font-size: 2.6em;
}

h1, h2, h3 {
  text-transform: none;
  font-weight: 400;
  margin: 0;
  padding: 3px 0 6px 0;
}

h1 {
	font-size: 2.0em;
}

.wrapper {
	font-size: 1.4em;
  margin: auto;
  max-width: 1200px;
  display: grid;
  grid-gap: 9px;
	grid-template-columns: auto 300px;
  grid-template-areas: "header sidebar"
                       "content sidebar"
                       "footer sidebar";
}

nav {
  grid-area: sidebar;
}

.header {
}

.logo {
  color: $russian_violet;
}

.content, .sidebar, .header {
  padding: 9px;
}

.sidebar {
  grid-area: sidebar;
  padding-left: 9px;
  border-left: 1px solid #eee;
}

.current {
  color: $russian_violet;
  text-decoration: none;
}

.post-item {
  border-top: 1px solid #eee;
  padding-bottom: 36px;
}

.bullet {
	width: 20px;
	height: 20px;
	background-color: $topaz;
}

.post-date {
  color: gray;
}

blockquote {
	margin-left: 0px;
	padding-left: 9px;
	border-left: 9px solid $glitter;
}

nav ul {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

nav li {
	list-style: none;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
 .wrapper {
		margin: auto;
		max-width: auto;
		display: grid;
		grid-gap: 3px;
		grid-template-columns: auto;
		grid-template-areas: "header"
												 "nav"
												 "content"
												 "footer"
												 "sidebar";
	}
	.header {
		font-size: 2.0em;
	}
	h1 {
		font-size: 1.6em;
	}
	.sidebar {
  	border-left: none;
	}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
}


